//---- Layout
//---- baz Moodle Theme

.layout {
    &.fullscreen {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $zindex-modal-backdrop;
        transition: 0.5s;
        width: 100vw;
        margin: 0;
        opacity: 1;
        background-color: $modal-content-bg;

        .theme-dark & {
            background-color: $dm-modal-content-bg;
        }

        > div {
            height: 100%;
            width: 100%;
        }

        .loading-icon {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            display: inline-block;
            width: 100%;
            top: 40%;
            position: fixed;
            .icon {
                width: 1em;
                height: 1em;
                font-size: 4em;
            }
        }
    }
}

#page-report {
    margin: $page-padding-global 60px;
    width: calc(100% - 120px);

    background-color: $container-bg;
    border-radius: $border-radius;

    .theme-dark & {
        background-color: $dm-gray-900;
    }
}

#page {
    margin: $page-padding-global auto 0;
    max-width: $page-width;
    width: 100%;

    background-color: $container-bg;
    border-radius: $border-radius;

    position: relative;

    .theme-dark & {
        background-color: $dm-container-bg;
    }

    @media (min-width: 981px) and (max-width: 1359px) {
        margin: $page-padding-global;
        max-width: calc(100% - 60px);
    }

    @include media-breakpoint-only(md) {
        margin: 10px;
        width: calc(100% - 20px);
    }

    @include media-breakpoint-between(xs,sm){
        margin: 0;
    }
}

#page-popup {
    padding: 20px;
    background-color: $container-bg;
    border-radius: $border-radius;

    .theme-dark & {
        background-color: $dm-container-bg;
    }

    .closewindow {
        margin: 1rem 0;

        .btn {
            width: 100%;
        }
    }
}

.wrapper-xl,
.wrapper-lg,
.wrapper-md {
    margin-left: auto;
    margin-right: auto;
}


.wrapper-lg {
    width: $wrapper-lg;

    @include media-breakpoint-between(xs,md) {
        width: 85%;
    }
}

.wrapper-md {
    width: $wrapper-md;

    @include media-breakpoint-between(xs,md) {
        width: 100%;
    }

    .wrapper-md {
        width: 100%;
    }
}

.wrapper-blocks {
    width: 100%;
    margin: 0 auto;

    .has-sidecourseblocks & {
        width: calc(100% - 370px);

        @include media-breakpoint-between(xs,md) {
            width: 100%;
        }
    }
}

.wrapper-header + #page-content {
    margin-top: $page-padding-global;
}

    .tmpl-course-blocks {
        width: 310px;

        @include media-breakpoint-between(xs,md) {
        width: 100%;
        }
    }

    .rui-btn-show-hide {
        position: fixed;
        top: 100px;
        right: 10px;
        z-index: $zindex-fixed;
    }

.wrapper--margin {
    margin-top: 60px;
    margin-bottom: 60px;
}

.wrapper-xl {
    width: $wrapper-xl;

    @include media-breakpoint-between(xs,md) {
    width: 90%;
    }
}

.wrapper-has-blocks,
.wrapper-dashboard,
.wrapper-xxl {
    margin-left: $page-padding-global;
    margin-right: $page-padding-global;

    @include media-breakpoint-between(xs,sm) {
    margin-left: 15px;
    margin-right: 15px;
    }
}

.wrapper-dashboard {
    margin-top: $page-padding-global;
}

    .blocks-wrapper  {
        gap: 60px;
    }

.wrapper-fw {
    width: 100%;
}

.region-main-content {
    position: relative;
}

.page-header-content + .region-main-wrapper {
    margin-top: $page-padding-global;
}

//---- UI elements
.sep--left {
    position: relative;

    &:before {
        content: '';
        background-color: $border-color;
        width: 1px;
        height: 30px;

        position: absolute;
        top: calc(50% - 15px);
        left: -5px;

        .theme-dark & {
            background-color: $dm-border-color;
        }
    }
}

.sep--right {
    position: relative;

    &:before {
        content: '';
        background-color: $border-color;
        width: 1px;
        height: 30px;

        position: absolute;
        top: calc(50% - 15px);
        right: -5px;

        .theme-dark & {
            background-color: $dm-border-color;
        }
    }
}

//---- Footer
#page-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    #page {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;

        #page-content {
            flex: 1 0 auto;
        }
    }
}

#s-page-footer {
    margin: 0 auto;
    padding: 80px 0;

    max-width: $page-width;
    width: 100%;

    flex-shrink: 0;

    color: $body-color-secondary;

    @include media-breakpoint-only(md) {
    padding: 60px;
    }

    @include media-breakpoint-between(xs,sm) {
    padding: 30px 0 80px;
    }

    .theme-dark & {
        color: $dm-body-color-secondary;
    }

    @include media-breakpoint-between(xs,md) {
        .wrapper-md {
            width: calc(100% - 30px);
        }
    }

}


.rui-topbar-special-btn-container {
    .notloggedin & {
        display: none;
    }
}

.rui-login-btn {
    padding: 4px 15px 4px 20px;

    background-color: $topbar-btn;
    color: $topbar-btn-text;
    border-radius: $border-radius;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: max-content;

    &:hover {
        color: $topbar-btn-hover-text;
        background-color: $topbar-btn-hover;
        text-decoration: none;
    }

    .rui-login-btn-txt {
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
    }
}

.rui-topbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; // space out brand from logo

    padding: 8px;
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
    font-weight: $font-weight-bold;

    background-color: $topbar-bg;
    min-height: 60px;
    max-height: 60px;

    font-size: 0.875rem; //14px
    color: $topbar-text;

    border-radius: $border-radius $border-radius 0 0;

    .theme-dark & {
        background-color: $dm-topbar-bg;
        color: $dm-topbar-text;
    }

    .scrolled & {
        border-radius: 0;
    }

    .site-name {
        width: max-content;
        font-size: 0.875rem; //14px
        font-weight: $font-weight-bold;
        color: $topbar-text;

        .theme-dark & {
            color: $dm-topbar-text;
        }
    }

    .navbar-nav {
        font-size: 0.875rem; //14px
        font-weight: $font-weight-bold;

        .nav-link {
            color: $topbar-text;
            border-radius: $border-radius;

            .theme-dark & {
                color: $dm-topbar-text;
            }
        }
    }

}

        //---- TODO: sidebar button, variables
        .sidebar-btn {
            padding: 0;
            margin-right: 10px;
            margin-left: -1rem;

            width: 60px;
            height: 60px;
            line-height: 1;

            border: 0;
            color: $topbar-text;

            background-color: transparent;
            border-right: 1px solid rgba($topbar-text, .15);
            border-radius: $border-radius 0 0 0;

            &:hover {
                background-color: $topbar-btn-hover;
            }
        }


//---- TODO: Container
.page-content {
    margin-top: $page-padding-global - 10px;
    margin-bottom: $page-padding-global;
}

.page-course-content {
  margin: 30px;  
}

//---- Moodle Pages mods */
.addtagcoll {
    margin-bottom: 40px;
}




//---- TODO: Course Index Page
.course-hero {
    width: 95%;
    margin-top: 60px;
    margin-bottom: $page-padding-global;

    img {
        border-radius: 5px;
    }
}

.course-teachers-box {
    max-width: 600px;
    margin-bottom: $page-padding-global;

    display: inline-flex;
    align-items: center;

    .course-contact-title {
        margin-right: 0.5rem;
        margin-bottom: 0;

        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        color: $body-color-secondary;

        .theme-dark & {
            color: $dm-body-color-secondary;
        }
    }

    .course-contact {
        .course-teacher-avatar {
            margin-right: -8px;

            width: 50px;
            height: 50px;
            border-radius: 50px;
            position: relative;
        }
    }
}

.page-margin-top--xl {
    margin-top: 60px;
}

.page-margin-bottom--xl {
    margin-bottom: 60px;
}

.course-hero-img {
    border-radius: $border-radius;
}

.course-progressbar-wrapper {
    padding: 15px 20px;
    border-radius: $border-radius;

    background-color: $blue-100;

    position: relative;

    .rui--course-witout-nav &,
    .rui--course-with-nav & {
        margin-top: 10px;
        margin-bottom: $page-padding-global;
    }

    .theme-dark & {
        background-color: $dm-gray-100;
    }

    .rui-progress {
        width: 100%;
        height: 7px;
        border-radius: 7px;
    }

    .rui-progress-text {
        padding: 5px 10px 5px 5px;
        height: 26px;
        background-color: $blue-600;
        border-radius: 26px;

        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        color: $blue-100;
        line-height: 1;

        position: absolute;
        top: calc(50% - 13px);

        display: inline-flex;
        align-items: center;

        &.rui-progress--value-0 {
            left: 6px!important;

            .dir-rtl & {
            left: auto;
            right: 6px!important;
            }
        }

        &.rui-progress--value-100 {
            left: auto!important;
            right: 7px;

            .dir-rtl & {
                right: auto!important;
                left: 7px!important;
            }
        }
    }

}

//----  Page Header
.rui-course-header,
.rui-course-progresschart
{
  width: $wrapper-md;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-down(md) {
    width: 100%;
  }

}

@include media-breakpoint-down(sm) {
.header-button-group {
    width: 100%;

    .btn {
        width: 100%;
    }
}
}

.page-header-content,
.header-content {
    &:empty {
        display: none;
    }
}

.rui-page-title {
    max-width: $wrapper-md;
    font-size: 3rem;//48px
    line-height: 1.3;

    @include media-breakpoint-between(xs,sm) {
    font-size: 1.5rem;//24px
    }
}

.page-header-content {
    width: 100%;
    position: relative;

    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
}


/* Top Bar elements */
.rui-dropdown-course-menu {
    width: 300px;
    max-width: 300px;
    padding: 0;

    @include media-breakpoint-between(xs,sm) {
    position: fixed;
    top: 47px;
    right: 7px;
    left: 7px;
    bottom: auto;

    width: 260px;
    max-width: 260px;
    }

    a {
        padding: 12px 22px;
        display: inline-flex;
        align-items: center;

        font-size: 14px;
        font-weight: $font-weight-medium;
        color: $body-color;

        .theme-dark & {
            color: $dm-body-color;
        }

        &:hover {
            color: $link-hover-color;
            background-color: transparent;
            text-decoration: none;
        }
    }

    .rui-course-menu-list--more {
        width: 100%;
        position: sticky;
        bottom: 0;
        padding: 10px 22px;

        border-radius: 0;
        background-color: $gray-100;

        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        color: $body-color-light;

        .theme-dark & {
            background-color: $dm-gray-100;
            color: $dm-body-color-light;
        }

        &:hover {
            background-color: $secondary-color-100;
            color: $secondary-color-600;

            .theme-dark & {
                background-color: $secondary-color-600;
                color: $secondary-color-100;
            }

            .icon {
                .theme-dark & {
                    color: $secondary-color-100;
                }
            }
        }
    }

    .rui-course-menu-list-text {
        display: inline-flex;
        max-width: 220px;
    }

    .rui-course-wrapper {
        max-height: 280px;
        overflow-y: auto;
    }
}

.rui-dropdown-main-menu {
    padding: 10px;
    width: 306px;
}

.rui-course-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    .rui-course-menu-list {
        margin-bottom: 0;
        border-bottom: 1px solid $border-color;

        transition: border-color 350ms ease-in-out;

        .theme-dark & {
            border-bottom: 1px solid $dm-border-color;
        }

        &:hover {
            border-color: $link-hover-color;
        }
    }

    .active {
        color: $link-color;
    }
}

.rui-course-menu-h {
    padding: 15px 22px;
    margin-bottom: 0;
    align-items: center;
    display: inline-flex;

    width: 100%;
    border-bottom: 1px solid $border-color;

    .theme-dark & {
        border-bottom: 1px solid $dm-border-color;
    }

    .rui-course-menu-h-l {
        padding: 0;
        font-weight: inherit;
    }
}

/** Navbar logo. */
.rui-logo img {
    width: auto;
    height: 35px;
    padding: 4px;
}

.rui-logo-ml {
    margin-left: 10px;
}

.rui-logo-box {
    padding: 4px;
    border-radius: $border-radius;
    background-color: $white;
}

.rui-navbar-nav {

    .nav-item {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;

        .nav-link {
            position: relative;
            width: max-content;

            margin-right: 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            min-width: 44px;
            height: 44px;
            border-radius: $border-radius;

            color: $topbar-btn-text;
            line-height: 1.8;

            .theme-dark & {
                color: $dm-topbar-btn-text;      
            }

            @include media-breakpoint-down(sm) {
                margin-right: 0;
                width: 100%;
                min-width: 40px;
                height: 40px;
            }

            &[aria-expanded="true"],
            &:hover {
                background-color: $topbar-btn-hover;
                color: $topbar-btn-hover-text;

                .theme-dark & {
                    background-color: $dm-topbar-btn-hover;
                    color: $dm-topbar-btn-hover-text;      
                }
            }
        }

    }
}

    .rui-navbar-nav--sep {
        position: relative;

        &:before{
            content: '';
            background-color: rgba($white, .15);
            width: 1px;
            height: 16px;

            position: absolute;
            top: calc(50% - 8px);
            left: 7px;
        }
    }

    .popover-region-notifications:not(.collapsed) {
       .nav-link {
            background-color: $secondary-color-700;
        }
    }

.rui-main-menu-btn,
.rui-topbar-special-btn,
.rui-lang-btn,
.rui-moremenu-btn
{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: $border-radius;
    font-size: $font-size-xs;

    @include media-breakpoint-down(sm) {
    padding: 8px;
    }

    &[aria-expanded="true"],
    &:hover {
        background-color: $topbar-btn-hover;
        color: $topbar-btn-hover-text;
        text-decoration: none;

        .theme-dark & {
            background-color: $dm-topbar-btn-hover;
            color: $dm-topbar-btn-hover-text;
        }
    }
}

.rui-main-menu-btn,
.rui-lang-btn {
    background: transparent;
    color: $topbar-btn-text;

    .theme-dark & {
        color: $dm-topbar-btn-text;
    }
}

.rui-login-lang-wrapper {
    position: fixed;
    top: 20px;
    left: 30px;
    z-index: $zindex-fixed;

    .rui-lang-btn {
        background-color: $primary-color-900;
        width: max-content;
        height: 40px;
    }
}

@include media-breakpoint-down(sm) {
.rui-lang-btn .rui-lang-btn-text {
    display: none;
}
}

.rui-topbar-special-btn {
    background: $topbar-btn;
    color: $topbar-btn-text;
}

.rui-nav-tabs + * {
    margin-top: $page-padding-global;
}


.rui-navbar-brand,
body:not(#page-login-index).rui-navbar-lang {
    position: relative;

    @include media-breakpoint-down(sm) {
    margin-left: 0;
    margin-right: 0;
    }

    &:after{
        content: '';
        background-color: rgba($white, .15);
        width: 1px;
        height: 16px;

        position: absolute;
        top: calc(50% - 8px);
        right: -8px;

        @include media-breakpoint-down(sm) {
        display: none;
        }
    }

}

.rui-navbar-lang {
    margin-right: 15px;

    @include media-breakpoint-down(md) {
    margin-right: 5px;
    }

    .notloggedin & {
        margin-right: 0;
    }
}

.rui-navbar-brand {
    margin-left: 20px;
    margin-right: 22px;

    &:after {
        right: -16px;
    }
}

.rui-navbar-brand--img {
    margin-left: 0;
}

.rui-navbar-brand:hover {
    text-decoration: none;
    opacity: .6;
}

.rui-navbar-nav-wrapper {
    width: calc(100% - 100px);
}

@include media-breakpoint-between(xs,md) {
    .rui-navbar-collapse  {
        padding: 20px;

        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;

        background-color: $primary-color-700;

        border-radius: 0 0 $border-radius $border-radius;

        display: inline-flex;
        flex-wrap: wrap;

        @include media-breakpoint-down(sm) {
        top: 95px;
        }
    }

    // TODO: Remove after added More menu
    // .rui-btn-mobile {
    //     padding: 0;
    //     width: 44px;
    //     height: 44px;
    //     color: $white;

    //     @include media-breakpoint-down(sm) {
    //         border-top: 1px solid rgba($white, .15);
    //         border-radius: 0;

    //         min-width: 100%;
    //         height: 40px;

    //         position: absolute;
    //         top: 55px;
    //         right: 0;
    //     }
    // }

    .rui-navbar-nav {
        width: 100%;
    }

    .rui-navbar-nav-wrapper {
        @include media-breakpoint-down(sm) {
            .dropdown-menu {
                width: 100%;
            }
        }

        .nav-link {
            text-align: left;
            border-bottom: 1px solid rgba($white, .15);
        }

        &.rui-navbar-nav--sep {
            &::before {
                display: none;
            }
        }
    }

    .header-main-menu {
        min-width: max-content;
    }
}



/* Footer */
.rui-footer-content {
    font-size: $font-size-xs;

    @include media-breakpoint-down(sm) {
    text-align: center;
    }
}

.rui-footer-copy {
    p {
        margin-bottom: .25rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.rui-footer-nav-title {
    font-size: $font-size-sm;
    color: $body-color;

    .theme-dark & {
        color: $dm-body-color;
    }
}

.rui-footer-nav-items {
    font-size: $font-size-sm;
    color: $body-color-secondary;

    .theme-dark & {
        color: $dm-body-color-secondary;
    }

    li {
        margin: .65rem 0;

        a {
            color: $body-color-secondary;

            .theme-dark & {
                color: $dm-body-color-secondary;
            }

            &:hover {
                color: $link-hover-color;
            }
        }
    }
}

/* Scroll bar */
.simplebar-track {
    &:before {
        content: '';
        background-color: $gray-100;
        width: calc(100% - 4px);
        height: 100%;
        border-radius: 10px;

        position: absolute;
        top: 0;
        left: 2px;

        .theme-dark & {
            background-color: $dm-gray-100;
        }
    }
}


/* Enroll Page */
.theme-dark#page-enrol-index .main-content {
    .info {
        background-color: $dm-gray-100;
    }
    .box:not(.info) {
        border: 1px solid $dm-border-color;
    }
}

#page-enrol-index .main-content {
    margin: 0 auto;
    padding: 60px 100px!important;
    width: $wrapper-md;

    @include media-breakpoint-between(xs,md) {
        width: 100%;
    }

    .col-md-3,
    .col-md-9
    {
        padding: 0;
        text-align: left!important;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-3 {
        margin-top: .5rem;
    }

    .info {
        margin-top: $page-padding-global;
        background-color: $gray-100;
        border-radius: $border-radius;

        .rui-course-card {
            max-width: 320px;
            margin: 30px auto;
            box-shadow: $box-shadow-lg;
        }

        .rui-course-card-body {
            margin-top: 0;
        }

        .rui-title-container {
            width: auto;
            margin-bottom: $page-padding-global;
        }
    }


    .mform .form-inline .form-control {
        width: 100%;
    }

    .fcontainer,
    .btn, [type="submit"] {
        width: 300px;
        margin: 0 auto;
    }

    .mform fieldset.collapsed legend a.fheader,
    .mform fieldset.collapsible legend a.fheader
    {
        width: calc(100% + 40px);
        margin: 0 -20px;
    }

    #id_selfheader {
        margin-top: -20px;
    }

    .box:not(.info) {
        margin-top: 20px;
        padding: 20px!important;
        border: 1px solid $border-color;
        border-radius: 5px;
    }

}

body#page-enrol-index #region-main .generalbox:last-of-type {
    width: 100%!important;
    float: none!important;
    margin-top: 20px!important;
    box-shadow: none!important;
}

// Dark Mode
.theme-dark .rui-dark-mode-status--on {
    display: block;
}

body:not(.theme-dark) .rui-dark-mode-status--on,
.theme-dark .rui-dark-mode-status--off {
    display: none;
}

// Not logged in users
.notloggedin {
    .hidefornotloggedin {
        display: none!important;
    }
}

body:not(.notloggedin):not(#page-admin-setting-themesettingbaz) {
    .hideforloggedin {
        display: none!important;
    }
}

.theme-dark {
    .hide-on-darkmode {
        display: none;
    }
}

body:not(.theme-dark) {
    .hide-on-lightmode {
        display: none;
    }
}

// Custom alerts (BAZ 1.3)
.rui-custom-alert {
    padding: 14px 60px 14px 24px;
    max-width: 600px;

    @include media-breakpoint-between(xs,sm){
	width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    left: 10px;
    }

    display: inline-flex;
    justify-content: flex-start;
    align-content: flex-start;

    position: fixed;
    z-index: $zindex-fixed - 5;
    bottom: 0;
    left: 15px;

    background-color: $container-bg;
    color: $body-color-secondary;
    box-shadow: $box-shadow-lg;

    &.fade:not(.show) {
        z-index: -1;
    }

    .theme-dark & {
        background-color: $dm-container-bg;
        color: $dm-body-color-secondary;
    }

    .rui-custom-alert-close {
        position: absolute;
        top: 5px;
        right: 5px;

        padding: 10px;

        display: flex;
        justify-content: center;
        align-content: center;

        background-color: transparent;
        border: none;
        border-radius: 40px;

        background-color: $gray-100;
        color: $gray-600;

        width: 40px;
        height: 40px;

        transition: $transition-base;

        .theme-dark & {
            background-color: $dm-gray-100;
            color: $dm-gray-600;
        }

        &:hover {
            background-color: $red-100;
            color: $red-600;
        }
    }
}


// More menu
.greedy {
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;

    @include media-breakpoint-down(md) {
    width: 50px;
    }
  }

  .rui-moremenu-btn {
    border: 0;
    position: relative;

    background-color: rgba($white, .25);
    color: $topbar-btn-text;

    @include media-breakpoint-down(md) {
    margin-left: 5px;
    }

    svg { pointer-events: none; }

    &.hidden {
        display: none!important;
    }
  }

  .rui-moremenu-btn::after {
    content: attr(count);
    position: absolute;
    top: -5px;
    right: -5px;

    width: 16px;
    height: 16px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: $primary-color-200;
    color: $primary-color-600;
    border-radius: 50%;
    font-size: 11px;
    font-weight: $font-weight-bold;
  }
  
  ul.links {
    display: inline-block;
  }

  ul.hidden-links {
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 280px;
    z-index: $zindex-fixed + 1;
    min-width: 210px;
    padding: $dropdown-padding-y $dropdown-padding-x;
    margin: $dropdown-spacer 0 0; // override default ul
    @include font-size($dropdown-font-size);
    color: $dropdown-color;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    background-color: $dropdown-bg;
    background-clip: padding-box;
    @include border-radius($dropdown-border-radius);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  
    @include media-breakpoint-down(md) {
    left: 5px;
    }

    .theme-dark & {
      color: $dm-dropdown-color;
      background-color: $dm-dropdown-bg;
    }

    .dropdown-menu {
        position: relative!important;
        top: 0!important;
        transform: translate3d(0px, 0px, 0px)!important;
        width: 100%;
        max-width: 100%;

        padding: 0;
        overflow-x: hidden;

        background-color: $gray-100;
        box-shadow: none;
    }

    li a {
        display: flex;
        align-items: center;
        width: 100%; // For `<button>`s
        min-width: 200px;
      
        margin-bottom: 0.25rem;
        padding: $dropdown-item-padding-y $dropdown-item-padding-x;
        clear: both;
      
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        color: $dropdown-color;
      
        text-align: inherit; // For `<button>`s
        text-decoration: if($link-decoration == none, null, none);
        /*word-break: normal;
        white-space: break-spaces;*/
      
        white-space: normal;
      
        border: 0; // For `<button>`s
        border-radius: $border-radius;
      
        .theme-dark & {
          color: $dm-dropdown-color;
        }
    }

    &.hidden {
        display: none;
    }

  }

.rui-hamburger-menu .rui-pageheadingbutton {
    padding: 1px;
    border-radius: $border-radius;
    background-color: $container-bg;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 26%), 0 14px 44px 0 rgb(0 0 0 / 20%);
    position: fixed;
    top: 100px;
    right: 60px;
    z-index: $zindex-tooltip;
}

.theme-dark.rui-hamburger-menu .rui-pageheadingbutton {
    background-color: $dm-gray-100;
}
