{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * rememberusername - Remeber username?,
    * signupurl - Signup url,
    * cookieshelpiconformatted - Formatted html of cookies help icon,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.,
    * logintoken - Random token to protect login request.,
    * maintenance - Maintenance message

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips",
        "logintoken": "randomstring",
        "maintenance": "For full access to this site, you need to login in as an admin."
    }


}}

    {{{ output.render_lang_menu }}}

    {{#loginlayout1}}
        <div class="rui-login-layout--1">
            {{#cansignup}}
            <div class="rui-login-createaccount">
                <form action="{{signupurl}}" method="get" id="signup">
                    {{#stringca}}<span class="rui-login-calabel">{{{stringca}}}</span>{{/stringca}} <button type="submit" class="btn-link--clean">{{#str}}startsignup{{/str}}</button>
                </form>
            </div>
            {{/cansignup}}

            <div class="rui-login-wrapper row no-gutters align-items-center justify-content-start">
                <div class="rui-login-container row no-gutters">
                    <div class="rui-login-box">
                        {{#cansignup}}
                            <div class="sr-only">
                                <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
                            </div>
                        {{/cansignup}}

                        <div class="rui-loginpage-intro">

                            <div class="rui-loginpage-intro-logo">

                                {{#customloginlogo}}
                                <a href="{{{ config.wwwroot }}}"><h2><img src="{{customloginlogo}}" title="{{sitename}}" alt="{{sitename}}" class="img-fluid"/></h2></a>
                                {{/customloginlogo}}

                                {{^customloginlogo}}
                                    {{#logourl}}
                                    <a href="{{{ config.wwwroot }}}"><h2><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}" class="img-fluid"/></h2></a>
                                    {{/logourl}}

                                    {{^logourl}}
                                    <a href="{{{ config.wwwroot }}}"><h2>{{sitename}}</h2></a>
                                    {{/logourl}}
                                {{/customloginlogo}}
                            </div>
                            {{#loginintrotext}}
                            <div class="rui-loginpage-intro-content">
                                {{{loginintrotext}}}
                            </div>
                            {{/loginintrotext}}
                        </div>

                        {{#error}}
                            <div class="loginerrors mt-3">
                                <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                                <div class="alert alert-danger" role="alert" data-aria-autofocus="true">{{error}}</div>
                            </div>
                        {{/error}}

                        <div class="rui-login-form">
                            <form action="{{loginurl}}" method="post" id="login">
                                <input id="anchor" type="hidden" name="anchor" value="">
                                <script>document.getElementById('anchor').value = location.hash;</script>
                                <input type="hidden" name="logintoken" value="{{logintoken}}">
                                <div class="form-group my-0">
                                    <label for="username">
                                        {{^canloginbyemail}}
                                            {{#str}} username {{/str}}
                                        {{/canloginbyemail}}
                                        {{#canloginbyemail}}
                                            {{#str}} usernameemail {{/str}}
                                        {{/canloginbyemail}}
                                    </label>
                                    <input type="text" name="username" id="username"
                                        class="form-control"
                                        value="{{username}}"
                                        autocomplete="username">

                                    {{#rememberusername}}
                                        <div class="rui-rememberpass mt-1 text-right">
                                            <label class="custom-control ios-switch pr-0">
                                                <input class="ios-switch-control-input form-check-input" type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                                                <span class="ios-switch-control-indicator"></span>
                                                <label class="rui-rememberusername-text my-0" for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                                            </label>
                                        </div>
                                    {{/rememberusername}}

                                </div>
                                <div class="form-group my-1">
                                    <label for="password">{{#str}} password {{/str}}</label>
                                    <input type="password" name="password" id="password" value=""
                                        class="form-control"
                                        autocomplete="current-password">
                                </div>
                                <div class="w-100 text-right">
                                    <a class="rui-login-forgot-btn" href="{{forgotpasswordurl}}">{{#str}}forgotten{{/str}}</a>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" id="loginbtn">{{#str}}login{{/str}}</button>
                            </form>
                        </div><!-- .rui-login-form -->

                        <div class="rui-additional-btns">


                            {{#canloginasguest}}
                            <hr class="hr-xsmall my-3" />
                            <div class="rui-canloginasguest mt-2" title="{{#str}}someallowguest{{/str}}">
                                <form action="{{loginurl}}" method="post" id="guestlogin">
                                    <input type="hidden" name="logintoken" value="{{logintoken}}">
                                    <input type="hidden" name="username" value="guest" />
                                    <input type="hidden" name="password" value="guest" />
                                    <button class="btn btn-sm btn-info w-100" type="submit">{{#str}}loginguest{{/str}}</button>
                                </form>
                            </div>
                            {{/canloginasguest}}

                            {{#hasidentityproviders}}
                                <div class="rui-potentialidplist mt-3 text-center">
                                    <hr class="hr-small" />
                                    <h5 class="mb-2">{{#str}} potentialidps, auth {{/str}}</h5>
                                    <div class="row" class="mt-3">
                                    {{#identityproviders}}
                                        <div class="rui-potentialidp w-100 mt-1">
                                            <a href="{{url}}" title={{#quote}}{{name}}{{/quote}} class="btn btn-outline-secondary mt-1 w-100">
                                                {{#iconurl}}
                                                    <img src="{{iconurl}}" alt="" width="24" height="24"/>
                                                {{/iconurl}}
                                                <span class="rui-potentialidp--name ml-3">{{name}}</span>
                                            </a>
                                        </div>
                                    {{/identityproviders}}
                                    </div>
                                </div>
                            {{/hasidentityproviders}}
                        </div><!-- .rui-additional-btns -->

                        {{#instructions}}
                        <hr class="hr-small" />
                            <div class="rui-hasinstructions-desc alert alert-warning">
                                {{{instructions}}}
                            </div><!-- .rui-hasinstructions-desc -->
                        {{/instructions}}

                        {{#loginfootercontent}}
                            <hr class="hr-small" />
                            {{{loginfootercontent}}}
                        {{/loginfootercontent}}

                    </div><!-- .rui-login-box -->

                    {{#loginadditionalcontent}}
                    <div class="rui-additional-content">
                        {{{loginadditionalcontent}}}
                    </div>
                    {{/loginadditionalcontent}}

                </div>
            </div>
        </div><!-- .login layout #1 -->
    {{/loginlayout1}}

    {{#loginlayout2}}
        <div class="rui-login-layout--2">
            {{#cansignup}}
            <div class="rui-logo-top-btn rui-login-createaccount">
                <form action="{{signupurl}}" method="get" id="signup">
                    {{#stringca}}<span class="rui-login-calabel">{{{stringca}}}</span>{{/stringca}} <button type="submit" class="btn-link--clean">{{#str}}startsignup{{/str}}</button>
                </form>
            </div>
            {{/cansignup}}

            <div class="rui-login-wrapper row no-gutters align-items-center justify-content-start">
                <div class="rui-login-container row no-gutters">
                    <div class="rui-login-box">
                        {{#cansignup}}
                            <div class="sr-only">
                                <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
                            </div>
                        {{/cansignup}}

                        <div class="rui-loginpage-intro">

                            <div class="rui-loginpage-intro-logo">

                                {{#customloginlogo}}
                                <a href="{{{ config.wwwroot }}}"><h2><img src="{{customloginlogo}}" title="{{sitename}}" alt="{{sitename}}" class="img-fluid"/></h2></a>
                                {{/customloginlogo}}

                                {{^customloginlogo}}
                                    {{#logourl}}
                                    <a href="{{{ config.wwwroot }}}"><h2><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}" class="img-fluid"/></h2></a>
                                    {{/logourl}}

                                    {{^logourl}}
                                    <a href="{{{ config.wwwroot }}}"><h2>{{sitename}}</h2></a>
                                    {{/logourl}}
                                {{/customloginlogo}}
                            </div>
                            {{#loginintrotext}}
                            <div class="rui-loginpage-intro-content">
                                {{{loginintrotext}}}
                            </div>
                            {{/loginintrotext}}
                        </div>

                        {{#error}}
                            <div class="loginerrors mt-3">
                                <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                                <div class="alert alert-danger" role="alert" data-aria-autofocus="true">{{error}}</div>
                            </div>
                        {{/error}}

                        <div class="rui-login-form">
                            <form action="{{loginurl}}" method="post" id="login">
                                <input id="anchor" type="hidden" name="anchor" value="">
                                <script>document.getElementById('anchor').value = location.hash;</script>
                                <input type="hidden" name="logintoken" value="{{logintoken}}">
                                <div class="form-group my-0">
                                    <label for="username">
                                        {{^canloginbyemail}}
                                            {{#str}} username {{/str}}
                                        {{/canloginbyemail}}
                                        {{#canloginbyemail}}
                                            {{#str}} usernameemail {{/str}}
                                        {{/canloginbyemail}}
                                    </label>
                                    <input type="text" name="username" id="username"
                                        class="form-control"
                                        value="{{username}}"
                                        autocomplete="username">

                                    {{#rememberusername}}
                                        <div class="rui-rememberpass mt-1 text-right">
                                            <label class="custom-control ios-switch pr-0">
                                                <input class="ios-switch-control-input form-check-input" type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                                                <span class="ios-switch-control-indicator"></span>
                                                <label class="rui-rememberusername-text my-0" for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                                            </label>
                                        </div>
                                    {{/rememberusername}}

                                </div>
                                <div class="form-group my-1">
                                    <label for="password">{{#str}} password {{/str}}</label>
                                    <input type="password" name="password" id="password" value=""
                                        class="form-control"
                                        autocomplete="current-password">
                                </div>
                                <div class="w-100 text-right">
                                    <a class="rui-login-forgot-btn" href="{{forgotpasswordurl}}">{{#str}}forgotten{{/str}}</a>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" id="loginbtn">{{#str}}login{{/str}}</button>
                            </form>
                        </div><!-- .rui-login-form -->

                        <div class="rui-additional-btns">


                            {{#canloginasguest}}
                            <hr class="hr-xsmall my-3" />
                            <div class="rui-canloginasguest mt-2" title="{{#str}}someallowguest{{/str}}">
                                <form action="{{loginurl}}" method="post" id="guestlogin">
                                    <input type="hidden" name="logintoken" value="{{logintoken}}">
                                    <input type="hidden" name="username" value="guest" />
                                    <input type="hidden" name="password" value="guest" />
                                    <button class="btn btn-sm btn-info w-100" type="submit">{{#str}}loginguest{{/str}}</button>
                                </form>
                            </div>
                            {{/canloginasguest}}

                            {{#hasidentityproviders}}
                                <div class="rui-potentialidplist mt-3 text-center">
                                    <hr class="hr-small" />
                                    <h5 class="mb-2">{{#str}} potentialidps, auth {{/str}}</h5>
                                    <div class="row" class="mt-3">
                                     {{#identityproviders}}
                                        <div class="rui-potentialidp w-100 mt-1">
                                            <a href="{{url}}" title={{#quote}}{{name}}{{/quote}} class="btn btn-outline-secondary mt-1 w-100">
                                                {{#iconurl}}
                                                    <img src="{{iconurl}}" alt="" width="24" height="24"/>
                                                {{/iconurl}}
                                                <span class="rui-potentialidp--name ml-3">{{name}}</span>
                                            </a>
                                        </div>
                                    {{/identityproviders}}
                                    </div>
                                </div>
                            {{/hasidentityproviders}}
                        </div><!-- .rui-additional-btns -->

                        {{#instructions}}
                        <hr class="hr-small" />
                            <div class="rui-hasinstructions-desc alert alert-warning">
                                {{{instructions}}}
                            </div><!-- .rui-hasinstructions-desc -->
                        {{/instructions}}

                        {{#loginfootercontent}}
                            <hr class="hr-small" />
                            {{{loginfootercontent}}}
                        {{/loginfootercontent}}

                    </div><!-- .rui-login-box -->

                    {{#loginadditionalcontent2}}
                    <div class="rui-login-heading col">
                        {{{loginadditionalcontent2}}}
                    </div>
                    {{/loginadditionalcontent2}}

                </div>
            </div>
    </div><!-- .login layout #2 -->
    {{/loginlayout2}}

    {{#loginlayout3}}
        <div class="rui-login-layout--3">
            {{#cansignup}}
            <div class="rui-login-createaccount">
                <form action="{{signupurl}}" method="get" id="signup">
                    {{#stringca}}<span class="rui-login-calabel">{{{stringca}}}</span>{{/stringca}} <button type="submit" class="btn-link--clean">{{#str}}startsignup{{/str}}</button>
                </form>
            </div>
            {{/cansignup}}

            <div class="rui-login-wrapper row no-gutters align-items-center justify-content-center w-100">
                <div class="rui-login-container row no-gutters">
                    <div class="rui-login-box">
                        {{#cansignup}}
                            <div class="sr-only">
                                <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
                            </div>
                        {{/cansignup}}

                        <div class="rui-loginpage-intro">

                            <div class="rui-loginpage-intro-logo">

                                {{#customloginlogo}}
                                <a href="{{{ config.wwwroot }}}"><h2><img src="{{customloginlogo}}" title="{{sitename}}" alt="{{sitename}}" class="img-fluid"/></h2></a>
                                {{/customloginlogo}}

                                {{^customloginlogo}}
                                    {{#logourl}}
                                    <a href="{{{ config.wwwroot }}}"><h2><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}" class="img-fluid"/></h2></a>
                                    {{/logourl}}

                                    {{^logourl}}
                                    <a href="{{{ config.wwwroot }}}"><h2>{{sitename}}</h2></a>
                                    {{/logourl}}
                                {{/customloginlogo}}
                            </div>
                            {{#loginintrotext}}
                            <div class="rui-loginpage-intro-content">
                                {{{loginintrotext}}}
                            </div>
                            {{/loginintrotext}}
                        </div>

                        {{#error}}
                            <div class="loginerrors mt-3">
                                <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                                <div class="alert alert-danger" role="alert" data-aria-autofocus="true">{{error}}</div>
                            </div>
                        {{/error}}

                        <div class="rui-login-form">
                            <form action="{{loginurl}}" method="post" id="login">
                                <input id="anchor" type="hidden" name="anchor" value="">
                                <script>document.getElementById('anchor').value = location.hash;</script>
                                <input type="hidden" name="logintoken" value="{{logintoken}}">
                                <div class="form-group my-0">
                                    <label for="username">
                                        {{^canloginbyemail}}
                                            {{#str}} username {{/str}}
                                        {{/canloginbyemail}}
                                        {{#canloginbyemail}}
                                            {{#str}} usernameemail {{/str}}
                                        {{/canloginbyemail}}
                                    </label>
                                    <input type="text" name="username" id="username"
                                        class="form-control"
                                        value="{{username}}"
                                        autocomplete="username">

                                    {{#rememberusername}}
                                        <div class="rui-rememberpass mt-1 text-right">
                                            <label class="custom-control ios-switch pr-0">
                                                <input class="ios-switch-control-input form-check-input" type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                                                <span class="ios-switch-control-indicator"></span>
                                                <label class="rui-rememberusername-text my-0" for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                                            </label>
                                        </div>
                                    {{/rememberusername}}

                                </div>
                                <div class="form-group my-1">
                                    <label for="password">{{#str}} password {{/str}}</label>
                                    <input type="password" name="password" id="password" value=""
                                        class="form-control"
                                        autocomplete="current-password">
                                </div>
                                <div class="w-100 text-right">
                                    <a class="rui-login-forgot-btn" href="{{forgotpasswordurl}}">{{#str}}forgotten{{/str}}</a>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" id="loginbtn">{{#str}}login{{/str}}</button>
                            </form>
                        </div><!-- .rui-login-form -->

                        <div class="rui-additional-btns">


                            {{#canloginasguest}}
                            <hr class="hr-xsmall my-3" />
                            <div class="rui-canloginasguest mt-2" title="{{#str}}someallowguest{{/str}}">
                                <form action="{{loginurl}}" method="post" id="guestlogin">
                                    <input type="hidden" name="logintoken" value="{{logintoken}}">
                                    <input type="hidden" name="username" value="guest" />
                                    <input type="hidden" name="password" value="guest" />
                                    <button class="btn btn-sm btn-info w-100" type="submit">{{#str}}loginguest{{/str}}</button>
                                </form>
                            </div>
                            {{/canloginasguest}}

                            {{#hasidentityproviders}}
                                <div class="rui-potentialidplist mt-3 text-center">
                                    <hr class="hr-small" />
                                    <h5 class="mb-2">{{#str}} potentialidps, auth {{/str}}</h5>
                                    <div class="row" class="mt-3">
                                    {{#identityproviders}}
                                        <div class="rui-potentialidp w-100 mt-1">
                                            <a href="{{url}}" title={{#quote}}{{name}}{{/quote}} class="btn btn-outline-secondary mt-1 w-100">
                                                {{#iconurl}}
                                                    <img src="{{iconurl}}" alt="" width="24" height="24"/>
                                                {{/iconurl}}
                                                <span class="rui-potentialidp--name ml-3">{{name}}</span>
                                            </a>
                                        </div>
                                    {{/identityproviders}}
                                    </div>
                                </div>
                            {{/hasidentityproviders}}
                        </div><!-- .rui-additional-btns -->

                        {{#instructions}}
                        <hr class="hr-small" />
                            <div class="rui-hasinstructions-desc alert alert-warning">
                                {{{instructions}}}
                            </div><!-- .rui-hasinstructions-desc -->
                        {{/instructions}}

                        {{#loginfootercontent}}
                            <hr class="hr-small" />
                            {{{loginfootercontent}}}
                        {{/loginfootercontent}}

                    </div><!-- .rui-login-box -->

                </div>
            </div>
        </div><!-- .login layout #3 -->
    {{/loginlayout3}}

    {{#maintenance}}
    <div class="rui-maintenance">
        <h2>{{#str}}sitemaintenance, core_admin{{/str}}</h2>
        <div class="rui-maintenance-desc">
            {{{maintenance}}}
        </div>
    </div>
    {{/maintenance}}


{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}