{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_message/manage


    Example context (json):
    {
      
    }
}}
<h1>feepayment Approval Status</h1>
<table class="table table-bordered table-striped" id="table1">
<thead>
<tr>
    <th>Email</th>
    <th>Status</th>
    <th>feepayment Submitted Date</th>

</tr>
</thead>
    <tbody>
{{#approvallist}}
    <tr>
        <td style="width: 10%">{{useremail}}</td>
        <td style="width: 10%">{{approvalstatus}}</td>
        <td style="width: 10%">{{created}} </td>

    </tr>
{{/approvallist}}


    </tbody>
</table>


<hr>
<input type="button" class="btn btn-primary" value="Refresh" onclick="location.href='{{homeurl}}'">